body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.col-3  { box-sizing: border-box; float: left; width: 25%;  }
.col-4  { box-sizing: border-box; float: left; width: 33.333333333333%; }
.col-6  { box-sizing: border-box; float: left; width: 50%;  }
.col-8  { box-sizing: border-box; float: left; width: 66.666666666666%; }
.col-9  { box-sizing: border-box; float: left; width: 75%   }
.col-12 { box-sizing: border-box; float: left; width: 100%; }

/*
	Homepage
*/

.video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.video iframe {
	width: 100%;
	height: 100%;
}

.video-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.index-content {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.index-content article {
	padding: 1.5em;
}

.index-content .content {
	padding: 2em;
	text-align: center;
	background: #eee;
}

.index-content .box {
	padding: 1.5em;
}


.index-content .content i {
	font-size: 3em;
}

/*
	Customize page
*/




.primary-nav {
	width: 100%;
	border-bottom: 1px solid #eee;
}

.primary-nav ul li {
	display: inline-block;
	padding: 12px;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: color 0.2s, background-color 0.2s;
	-webkit-transition: color 0.2s, background-color 0.2s;
}

.primary-nav ul li:hover {
	background-color: #33CCCC;
	color: #fff;
	transition: color 0.2s, background-color 0.2s;
	-webkit-transition: color 0.2s, background-color 0.2s;
}

.primary-nav .logo {
	float: left;
	padding: 12px;

} 

.bottle {
	text-align: center;
	margin: 24px 12px;
}

.bottle img {
	max-height: 500px;
	opacity: 1;
	transition: opacity 0.3s
}

.bottle img.fade {
	opacity: 0;
	transition: opacity 0.3s;
}

.swatch-panel {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	background: white;
}

.swatch-panel .panel {
	width: 20%;
	float: left;
	text-align: center;
}

.swatch-panel .panel div {
	padding: 24px;
	border: 1px solid #eee;
}

.box-thingy {
	position: absolute;
	bottom: 68px;
	left:0;
	right:0;

	width: 100%;
	height: auto;
	background: #eee;
	transition: bottom 0.9s;
	border-radius: 3px;
	border-top: 1px solid #ddd;
}

.box-thingy.collapse {
	bottom: -100%;
	transition: bottom 0.9s;
}


.box-thingy .title {
	padding: 0.5em;
	text-align: center;
	background: #ddd;
}

.box-thingy .box-close {
	float: right;
	font-weight: 700;
	font-size: 19px;
}

.box-thingy ul.box-content li {
	text-align: center;
	border: 1px solid #ddd;
	padding: 0.5em 2em;
}

.box-thingy ul.box-content li img {
	max-height: 50px;
	display: inline-block;
}

.box-thingy ul.box-content div {
	font-weight: 300;
}

.box-thingy ul.box-content p {
	display: inline-block;
}

.box-thingy ul.box-content .swatch {
	background: #ffffff;
	width: 20px;
	height: 40px;
	float: left;
}

.box-thingy ul.box-content .swatch .black-sand    { background: #fff; }
.box-thingy ul.box-content .swatch .blue-hawaii   { background: #fff; }
.box-thingy ul.box-content .swatch .green-isle    { background: #fff; }
.box-thingy ul.box-content .swatch .hibiscus-red  { background: #fff; }
.box-thingy ul.box-content .swatch .paradise-pink { background: #fff;}
.box-thingy ul.box-content .swatch .pink-orchid   { background: #fff;}
.box-thingy ul.box-content .swatch .tiffany       { background: #fff;}
.box-thingy ul.box-content .swatch .volt          { background: #fff;}
.box-thingy ul.box-content .swatch .white-pekake  { background: #fff;}

/*===================================
============= Utilities =============
===================================*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
